<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.touki.blog.mapper.TagMapper">

    <select id="findTagsByBlogId" resultType="com.touki.blog.entity.Tag">
        select t.tag_id, t.tag_name
        from tag t
                 left join blog_tag bt on t.tag_id = bt.tag_id
        where bt.blog_id = #{blogId}
    </select>
</mapper>