<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.touki.blog.mapper.VisitorLogMapper">
    <select id="visitLogStatisticYesterday" resultType="com.touki.blog.model.dto.VisitLogStatistic">
        select uuid, create_time time
        from visit_log
        where date(create_time) = date_sub(curdate(), interval 1 day)
        order by create_time desc
    </select>
</mapper>