<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.touki.blog.mapper.VisitRecordMapper">
    <select id="visitRecordListLimit" resultType="com.touki.blog.model.entity.VisitRecord">
        select pv, uv, date
        from visit_record
        order by record_id desc
        limit #{limit}
    </select>
</mapper>